<html>
{% load static %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'script.js' %}"></script>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<script>
		$(function() {
			$("#accordion").accordion();
		});
	</script>
</head>
<body>
	<h1> Halo, apa kabar?</h1>
	<form action="" method="post">
		{% csrf_token %}
		{{ form }}
		<input name="submit" type="submit" value="Submit">
	</form>
	<table border="solid:1px" id="status_list">
		<tr id="status_list_header" bgcolor="red">
			<td><b>No.</b></td>
			<td><b>Status</b></td>
			<td><b>Time</b></td>
		</tr>
		{% for status in statuses %}
		<tr id="status_list_{{ status.id }}">
			<td><p>{{ status.id }}</p></td>
			<td><p>{{ status.status }}</p></td>
			<td><p>{{ status.update_time }}</p></td>
		</tr>
		{% endfor %}
	</table>
	<button id="change_theme_btn" onClick="changeTheme()" style="margin: 25px">Ubah Tema</button>
	<div id="accordion" style="margin: 25px">
		<h3>Aktivitas</h3>
		<div>
			<p>Competitive programming</p>
		</div>
		<h3>Organisasi</h3>
		<div>
			<p>DPM Bidang Pengawasan II </p>
		</div>
		<h3>Prestasi</h3>
		<div>
			<p>ICPC 2019 World Finalist</p>
		</div>
	</div>
	<form method="post" action="logout">
		<input type="submit" value="Logout">
	</form>
</body>
</html>