<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="" method="post">
		{% csrf_token %}
		<p>Username</p>
		<input type="text" name="username">
		<p>Password</p>
		<input type="password" name="password">
		<input type="submit" value="login">
	</form>
</body>
</html>