<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script>
	    function redirect(){
	       window.location.href = window.location.origin;
	    }

	    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
	</script>
</head>
<body>
	{% csrf_token %}
	Login success, Welcome {{ username }}!
</body>
</html>